
node_modules/  


*.log  
logs/  


.env  


dist/  
build/  
public/  
tmp/  


.DS_Store  
Thumbs.db  

 
*.bak  
*.tmp  


.vscode/  
.idea/  
*.swp  
*~   


__pycache__/  
*.py[cod]  


*.sqlite  
*.db  


*.pid  
*.seed  
*.coverage  


yarn-error.log  
npm-debug.log  
package-lock.json  
yarn.lock  


*.tgz  
*.zip  
*.rar